.DS_Store
.gjc
.omc
.omo
.omx
.codex
.claude
.gaori/*
!.gaori/tester.yaml
!.gaori/tester/
.gaori/tester/*
!.gaori/tester/rules/
.gaori/tester/rules/*
!.gaori/tester/rules/*.yaml
/.mulgae/*
!/.mulgae/config.yaml
/no-lock.md
/artifacts/
/tmp/
/var/
